@import url('https://fonts.googleapis.com/css?family=Nunito:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');


body {
	font-family: 'Nunito', sans-serif;
}

/*-------------------------------------------------BACKGROUNDS FOR DIFFERENT PAGES*/
.home-bg, .music-bg, .pictures-bg {
	background: url(assets/web-images/landing-background.jpg);
	background-size: cover;
}

.about-bg, .video-bg {
	background: url(assets/web-images/about-background.jpg);
	background-size: cover;
}

.contact-bg {
	background: url(assets/web-images/contact-background.jpg);
	background-size: cover;
}

.tour-bg {
	background-color: #4babdd;
}



/*-------------------------------------------------NAVIGATION*/

.nav-wrapper {
	background-color: #f1ea65;
	display: grid;
	grid-template-columns: 1fr;
	padding: 20px;
	margin: 0;
}

.nav-wrapper ul {
	text-align: right;
}


.nav-wrapper ul li{
	display: block;
	list-style-type: none;
}

.nav-wrapper a{
	letter-spacing: .3em;
	text-decoration: none;
	font-weight: bold;
	color: #47aadf;
}

.nav-wrapper a:hover{
	cursor: pointer;
	color: #f35f5f;

}

.list-item {
	padding: 10px 0;

}

.dropdown-content {
	line-height: 7px;
	display: none;
	position: absolute;
	background-color: #47aadf;
	min-width: 100px;
	box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.2);
	z-index: 1;
	text-align: right;
	right: 5px;

}

.dropdown-content a {
	color: #f1ea65;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	transition-duration: 400ms;
	transition-timing-function: ease-in-out;
}


.dropdown-content a:hover {
	background-color: #f35f5f;
	color: #f0e966;
}


.dropdown:hover .dropdown-content {
	display: block;
}


.logo {
	position: absolute;
}



.burger-icon{
	display: inline-block;
	justify-self:end; 
	color: #f35f5f;
	padding: 0px 10px;
	font-weight: bold;
	font-size: 2em;
	
}

.burger-icon:hover{
	cursor:pointer;
}

.mobile-hide{
	display: none;

}



.main-nav, .mobile-hide, .mobile-show > ul {
	display: block;
	max-height: 0;
	overflow: hidden;
	transition: max-height 600ms ease-in-out;
	margin: 0;
}

.main-nav.toggled, .mobile-show, .mobile-hide > ul {
	max-height: 200px;
	transition: max-height 600ms ease-in-out;
}



/*-------------------------------------------------FOOTER*/



.footer {
	background-color: #f36161;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.icon {
	width: 60px;
	height: auto;
}

.sticky-footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}

/*-------------------------------------------------Aligment for all body items (mobile)*/
.body-content {
	margin: 15px;
}

/*-------------------------------------------------Parralax*/

.parallax {
	width: 100%;
}

/*-------------------------------------------------Landing page Video*/


.landing-video {
	margin-top: 20px;
	width: 100%;
	height: 250px;
}


/*-------------------------------------------------Full width buttons*/


.btn-secondary {
	color: #fafafa;
	background-color: #f06060;
	border: none;
	outline:none;
	font-family: 'Nunito', sans-serif;
	letter-spacing: 0.2em;
	font-weight: 300;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 0;
	font-size: 15px;
}

.button-link:hover {
	text-decoration: none;
}

.btn-secondary:hover {
	background-color: #4cabdb;
	color: #e6e66e;
}

/*-------------------------------------------------BUY CD*/

.cd-wrapper {
	display: grid;
	grid-template-columns: 50% 50%;
	margin-top: 15px;

}

.cd-cover {
	width: 100%;
	height: auto;
}

.songs {
	line-height: 15px;
	font-size: 12px;
}

/*-------------------------------------------------SUBSCRIBE*/

#subscribe-form {
	width: 100%;
	background-color: #46a9e0;
	margin-top: 2px;
	border-radius: 3px;
	padding: 0;
	display: flex;
	justify-content: flex-end;
}

.email {
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	background-color: #99c8a4;
	border:none;
	text-align: center;
	width: 70%;
}

.subscribe {
	background-color: transparent;
	border: none;
	font-family: 'Nunito', sans-serif;
	font-weight: 200;
	color: #fafafa;	
	margin: auto;
}

::placeholder { 
	color: #fafafa;
	letter-spacing: 2px;
	font-family: 'Nunito', sans-serif;
	font-weight: 100;
}

.subscribe-text {
	background-color: #46a9e0;
	padding: 5px;
	margin-top: 15px;
	border-radius: 3px;
}

.subscribe-text h5{
	text-align: center;
	letter-spacing: 1.5px;
	color: #e6e66e;
	margin-top: 10px;
	font-weight: 600;
}

.subscribe-text p{
	text-align: center;
	font-size: 13px;
	color: #fafafa;
}

/*-------------------------------------------------About description*/

.about-text{
	margin-top: 50px;
}

.about-paragraph {
	text-align: justify;
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: 600;
	line-height: 20px;
}

/*-------------------------------------------------About page buttons*/

.about-wrapper {
	display: flex;
	justify-content: center;
}

.small-button {
	margin-top: 15px;
	margin-bottom: 15px;


}

.small-button button {
	background-color: #f36260;
	border: solid 1px #f36260;
	border-radius: 5px;
	padding: 5px 0 5px 0;
	color: #fafafa;
	letter-spacing: 2px;
	font-weight: 300;
	outline: none;
}

.small-button button:hover {
	background-color: #4aabdc;
	border: solid 1px #4aabdc;
}

/*-------------------------------------------------Spotify*/

.spotify-playlist {
	margin-top: 5px;
}

/*-------------------------------------------------Video*/

.video {
	width: 100%;
	height: 200px;
}

/*-------------------------------------------------Pictures*/

.band-picture {
	width: 100%;
	height: auto;
	margin-top: 10px;
}

/*-------------------------------------------------Contact forms*/

.form-control {
	background-color: rgba(241, 234, 101, 0.8);
	border-color: rgba(241, 234, 101, 0.8);
	border-radius: 5px;
}

.form-control-blue {
	background-color: rgba(103, 181, 201, 0.8);
	border-color: rgba(103, 181, 201, 0.8);
}

.form {
	margin-top: 25px;
}

.form input {
	margin-top: 5px;
}

.form textarea {
	margin-top: 5px;
}

.form button {
	margin-top: 5px;
	padding: 8px 50px 8px 50px;
	font-weight: 700;
}

.form1 h5 {
	font-weight: 700;
	color: #e8e66b;
}

.form2 h5 {
	font-weight: 700;
	color: #4babdd;
}


.form1 input[type=text]:focus{
	outline: none;
	box-shadow: none;
	background-color: #e8e66b;     
}

.form2 {
	margin-top: 50px;
	margin-bottom: 30px;
}

.form2 input[type=text]:focus{
	outline: none;
	box-shadow: none;
	background-color: #4babdd;     
}

.form1 input[type=email]:focus{
	outline: none;
	box-shadow: none;
	background-color: #e8e66b;     
}

.form2 input[type=email]:focus{
	outline: none;
	box-shadow: none;
	background-color: #4babdd;     
}

.form1 textarea:focus{
	outline: none;
	box-shadow: none;
	background-color: #e8e66b;     
}

.form2 textarea:focus{
	outline: none;
	box-shadow: none;
	background-color: #4babdd;    
}

.form1 input[type="text"]::placeholder {
	color: #4babdd;
	font-weight: 500;
}

.form1 input[type="email"]::placeholder {
	color: #4babdd;
	font-weight: 500;
}

.form1 textarea::placeholder{
	color: #4babdd;
	font-weight: 500;
}

.form2 input[type="text"]::placeholder {
	color: #e8e66b;
	font-weight: 500;
}

.form2 input[type="email"]::placeholder {
	color: #e8e66b;
	font-weight: 500;
}

.form2 textarea::placeholder{
	color: #e8e66b;
	font-weight: 500;
}


/*-------------------------------------------------Tour list*/

.tour {
	
	text-align: center;
	color: #fafafa;
	background-color: #439ecb;
	padding: 10px 0px;
}


.event-date {
	font-weight: bold;
	font-size: 20px;
}

.event {
	font-weight: bold;
	font-size: 18px;
}

.event-place {
	font-weight: 600;
	font-size: 17px;
}

.tickets {
	margin-top: 10px;
	padding: 10px 30px;
	font-weight: 500;
	font-size: 20px;
	border-radius: 5px;
	border-color: #cc435f;
	background-color: #cc435f;
	color: #fafafa;
	border: none;

}

hr {
	border: 1px solid #fafafa;
	margin: 0;
}


/*-------------------------------------------------iPad Media Queries*/

@media (min-width: 768px) {

	.nav-wrapper ul li{
		display: inline;
		list-style-type: none;
	}

	.burger-icon {
		display: none;
	}

	.main-nav, .mobile-hide, .mobile-show > ul {
		max-height: 100%;
	}

	.logo {
		margin-top: 15px;
		position: relative;
		text-align: center;
	}


	.nav-wrapper ul {
		text-align: center;
		margin-top: 25px;
		margin-bottom: 30px;
	}

	.list-dropdown-item {
		display: inline;
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		display: inline;
	}



	li a {
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 20px;
	}

	
	li a:hover {
		color: #f36161;

	}

	.dropdown {
		display: inline-block;

	}


.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
}


}